@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/backgroundLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
}
body div{
    background-color: white;
    border-radius: 7px;
    padding: 2%;
    color: black;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body div h1{
    font-family: 'Roboto Mono', monospace;
}

button{
    height: 50px;
    width: 250px;
    border-radius: 50px;
    font-family: 'Roboto Mono', monospace;
    margin: 5%;

}

button:hover{
    background-color: #FFCFDE;
}