<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/style/main.css}" rel="stylesheet" />
</head>
<body>
    <div id="loginMainContainer">
        <div>
            <h1>Bienvenido al Login!!</h1>
            <h2>Inicia session con tus credenciales!</h2>
            <p th:text="${message}"></p>
            <form action="/login" method="post">
                <br>
                <br>
                <label for="user">Usuario:</label>
                <br>
                <br>
                <input type="text" name="user" required/>
                <br>
                <br>
                <label for="clientPasswd">Contraseña:</label>
                <br>
                <br>
                <input type="password" name="clientPasswd" required/>
                <br>
                <br>
                <input type="submit"/>
            </form>
            <p>¿Aun no tienes cuenta? <button onclick="window.location.pathname = '/signup'">Signup</button></p>
        </div>
        <img alt="Java" id="java">
    </div>
</body>
</html>