<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Objects</title>
    <link th:href="@{/style/styleObjects.css}" rel="stylesheet" />
    <link th:href="@{/style/navStyle.css}" rel="stylesheet" />
</head>
<body>
    <nav th:replace="navbar.html :: nav"></nav>
    <div id="mainContainer">
        <h1>Buenas [(${userName})]!!! Bienvenido a la lista de tus buckets</h1>
        <form action="/objects" method="post">
            <br>
            <br>
            <label for="bucketName">Nuevo Bucket: </label>
            <br>
            <input type="text" name="bucketName" required>
            <br>
            <br>
            <input type="submit" value="Crear">
        </form>
    
        <div id="tableBuckets">
            <table>
                <tr th:each="b : ${buckets}">
                    <td th:text="${b.name}"></td>
                    <td>
                        <a th:href="@{'/objects/' + ${b.name}}">Ver contenido del bucket</a>
                    </td>
                    <td><button id="trash"></button></td>
                </tr>
            </table>    
        </div>
    
    </div>
</body>
</html> 