<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Objects</title>
    <link th:href="@{/style/main.css}" rel="stylesheet" />
    <link th:href="@{/style/navStyle.css}" rel="stylesheet" />
</head>
<body>
    <nav th:replace="navbar.html :: nav"></nav>
    <div class="mainContainer">
        <h1>Buenas [(${userName})]!!! Bienvenido a la lista de tus buckets</h1>
        <p th:text="${message}"></p>
        <form action="/objects" method="post" name="bucketForm" onsubmit="return checkSpaces()">
            <br>
            <br>
            <label for="bucketName">Nuevo Bucket: </label>
            <br>
            <input type="text" name="bucketName" required>
            <br>
            <br>
            <input type="submit" value="Crear">
        </form>
    
        <div id="tableBuckets">
            <table>
                <tr th:each="b : ${buckets}">
                    <td th:text="${b.name}"></td>
                    <td>
                        <a th:href="@{'/objects/' + ${b.name}}">Ver contenido del bucket</a>
                    </td>
                    <td>
                        <form th:action="@{/deletebucket/{bname}(bname=${b.name})}" method="post" onsubmit="return confirmDelete()">
                            <input type="submit" value="Elimina">
                        </form>
                    </td>
                </tr>
            </table>    
        </div>
    
    </div>

    <script>
        function confirmDelete(bucket){
            if (confirm('¿Estas seguro de que quieres eliminar el bucket?')) {
                return true;
            } else {
              return false;
            }
        }

        function checkSpaces(){
            let bucketName = document.forms["bucketForm"]["bucketName"].value;
            if (bucketName.indexOf(" ") !== -1){
                alert("Los nombres de los buckets no pueden contener espacios");
                return false;
            }
        }
    </script>
</body>
</html> 